h1{
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  #F0B429
    d;
}
.fondo{
    background-color: #005883;
}
